
<div class="body">
    <div class="container">
        <div class="row">
            <div class="head">
                <img class="image" src="../../assets/googleimage.jpg"/>
                <p class="sign">Find  your email</p>
                <span class="arrange">Enter your phone number or recovery mail</span>
            </div>
            <div class="center">
                <mat-form-field appearance="outline" class="custom-mat-field">
                    <mat-label class="label-width">Phone number or email</mat-label>
                    <input matInput placeholder="Phone number or email" class="custom-mat-input">
                </mat-form-field>
                
            
            </div>
            <div class="buttons">
                
                <button mat-raised-button class="login-button-2"  style="color: white;padding-right: 10px;margin-right: 32px;border-color: grey;width: 100px;">Next</button>

            </div>
        </div>

    </div>

</div>